body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

.header {
  height: 69px;
  background-color: black;
  border-bottom: 1px solid seashell;
  display: flex;
  align-items: center;
  z-index: 2;
  position:fixed;
  width: 100%;
  top:0px;
}

.logo {
   height: 50px;
   margin-left: 10px;
   margin-right: auto;
 }

.navigation li{
  list-style: none;
  display: inline-block;
  text-decoration: underline;
  padding:10px;
  margin-right: 10px;
}

a {
  color: seashell;
}

.content {
  padding-top: 69px;
}

.center {
  display: flex;
  justify-content: center;
}
.mission {
  display: flex;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
  height: 700px;
  width: 1200px;
  align-items: center;
  background-position: center;
}

.headertext {
  background-color: black;
  width: 100%;
  align-items: center;
}

.featured {
  padding-top: 50px;
  justify-content: center;
  width: 1000px;
}

.featuredteas {
  display: flex;
  justify-content: center;
  flex-wrap:wrap;

}
.tea {
  display: flex;
  flex-direction: column;
}

.tea img {
  width: 300px;
  height: 200px;
  padding-right: 25px;
}

.tea h3 {

}

.location {
  display: inline-block;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg);
  height: 500px;
  width: 1200px;
  margin-top: 50px;
  align-items: center;
  background-position: center top;
}


.place {
  display: inline-block;
  flex-wrap: wrap;
  width: 300px;
  background-color: black;
  line-height: 50px;
}

.boxes {
  display: inline-flex;
  width: 300px;
  opacity: 1;
  flex-basis: 280px;
  padding: 20px;
}

footer {
  text-align: left;
  padding-left: 20px;
}

.contact {
  text-align: center;
  height: 200px;
}
